{% extends 'base.html.twig' %}

{% block body %}
    <h1>Curent place: {{ product.marking|keys|join('</code>, <code>')|default('[]')|raw }}</h1>
    <h2>Available transition(s):</h2>

    <fieldset>
        {% for transition in workflow_transitions(product) %}
            <label>#{{ loop.index }}:</label>
            - Transition name: <strong>{{ transition.name }}</strong> <br />
            - Froms:
            <ul>
                {% for from in transition.froms %}
                <li>{{ from }}</li>
                {% endfor %}
            </ul>
            - Tos
            <ul>
                {% for to in transition.tos %}
                <li>{{ to }}</li>
                {% endfor %}
            </ul>

            <br/>
        {% else %}
            No more transition available for the product object.
        {% endfor %}
    </fieldset>

    <br />

    <form action="{{ url('article_apply_transition', {id: product.id}) }}" method="post">
        <div class="btn-group-vertical" role="group">
            {% for transition in workflow_transitions(product) %}
                <button type="submit" name="transition" value="{{ transition.name }}"
                    {% if workflow_can(product, transition.name) -%}
                        class="btn btn-primary"
                    {%- else -%}
                        class="btn btn-danger" disabled="disabled"
                    {%- endif -%}
                >
                    {{ transition.name }}
                </button>
            {% endfor %}
        </div>
    </form>
{% endblock %}
